<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njupt.bit.entries1.mapper.ItemMapper">

    <resultMap id="item" type="cn.edu.njupt.bit.entries1.pojo.Item">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="brand" column="brand"/>
        <result property="price" column="price"/>
        <result property="category" column="category"/>
        <result property="mode" column="mode"/>
    </resultMap>

    <select id="listItem" resultMap="item">
        SELECT *
        FROM shoppinglist
    </select>

    <select id="listShoppingCart" resultMap="item">
        SELECT *
        FROM shoppinglist
        WHERE mode = 1
    </select>

    <select id="addToCart" parameterType="java.lang.Integer">
        UPDATE shoppinglist
        SET mode=1
        WHERE id = #{id}
    </select>

    <select id="removeFromCart" parameterType="java.lang.Integer">
        UPDATE shoppinglist
        SET mode=0
        WHERE id = #{id}
    </select>
</mapper>
